{% extends "base.html" %}


{% block content %}

<div id="content" class="container">


    <div id="navigation-jumbo" class="jumbotron jumbotron-pages">
        <h1 id="navigation-title" class="text-center mt-5 text-white font-weight-bold">ÚČTOVNÍCTVO</h1>
    </div>

    <div class="row mb-2">
        <div class="col-md-9">

            <div class="jumbotron jumbotron-yellow">
                <h3 class="text-center font-weight-bold">Jednoduché účtovníctvo</h3>
            </div>

            <ul>
                <li>
                    Účtovníctvo spracovávame v software <strong>ALFA PLUS</strong>
                </li>
                <li>
                    Zostavenie priznania k DPH, k dani z príjmov, k dani z motorových vozidiel, na základe udelenej
                    plnej
                    moci elektronické odoslanie na daňový úrad v mene klienta
                </li>
                <li>
                    Každý klient dostane každý mesiac, po spracovaní účtovníctva v <strong>reporty v PDF</strong>,
                    kde vidí svoj hospodársky výsledok, stav pohľadávok a záväzkov
                </li>
                <li>
                    Na konci účtovného obdobia - <strong>zostavenie účtovnej závierky a spracovanie priznania</strong>.
                    Následne Vám odovzdáme šanón s účtovnými dokladmi, peňažným denníkom a ďalšími povinnými účtovnými
                    zostavami.
                </li>
            </ul>

            <div class="jumbotron jumbotron-yellow mt-5">
                <h3 class="text-center font-weight-bold">Podvojné účtovníctvo</h3>
            </div>
            <ul>
                <li>
                    Účtovníctvo spracovávame v software <strong>OMEGA</strong>
                </li>
                <li>
                    Zostavenie priznania k DPH, k dani z príjmov, k dani z motorových vozidiel; na základe udelenej
                    plnej
                    moci elektronické odoslanie na daňový úrad v menej klienta
                </li>
                <li>
                    Každý klient dostane každý mesiac, po spracovaní účtovníctva v <strong>reporty v PDF</strong>,
                    kde vidí svoj hospodársky výsledok, stav pohľadávok a záväzkov
                </li>
                <li>
                    Na konci účtovného obdobia - <strong>zostavenie účtovnej závierky a spracovanie priznania</strong>.
                    Následne Vám odovzdáme šanón s účtovnými dokladmi a účtovnými zostavami.
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="row mb-4">
                <img class="flex-auto d-md-block rounded" alt="Účtovníctvo"
                     style="width: 95%; height: 50%; min-height: 250px;"
                     src="{{ url_for('static', filename='images/ucto.jpg') }}">
            </div>

            <div class="row mb-4">
                <!--<img class="flex-auto d-md-block rounded" alt="Účtovníctvo"-->
                <!--style="width: 96%; height: 50%;"-->
                <!--src="{{ url_for('static', filename='images/ucto.jpg') }}">-->

                <!-- Sliding div starts here -->
            </div>
        </div>
    </div>
</div>

{% endblock %}